body{
	background:url("form.jpg");
	background-size:cover;
	background-position: center;
	background-repeat: no-repeat;
	height:100%;
	display:-webkit-inline-block;
}

.container{
 	width:50%;
 	height:100%;
 	float:left;
 	margin-left: 25%;
 	border:1px solid white;
 	background: #cdd7d885;
 	padding-top: 50px;
 	opacity: 1;
 }

 h1{
 	text-align: center;
 }

 form{
 	margin-left:5%;
 	display: inline-block;
 	height: inherit;
 }

input[type=submit],input[type=reset]{
 	border: 2px solid #2a2b2b9e;
    border-radius: 9px;
    color: #252626;
    background: #ffffffbd;
    font-style: bold;
}

input[type=submit]:hover,input[type=reset]:hover{
 	/*border:1px solid (0,0,0);*/
 	box-shadow: 1px 3px #888888;
 	/*border-radius: 20px;*/
 	text-shadow: 3px 1px #251e8a34;
 	font-weight: 400px;
 	transition: none;
 	color:#333436;
 	color:black;
 }